<div class="banner pt5 pb5 pull-right">
	<div class="container">
		<div class="d-flex justify-content-end">
			<div class="p-2">
				<a href="#"><i class="fa-brands fa-facebook"></i></a>
			</div>
			<div class="p-2">
				<a href="#">Staff Login</a>
			</div>
		</div>



	</div>

</div>

<nav class="navbar navbar-expand-lg">
    <div class="container">
		<div class="navbar-logo">
			<img src="/images/Logo.png"/>
		</div>
		<div class="navbar-brand">
			<h1 class="h1 lsp-1 mb-0">Hennis Care Centre</h1>
			<h1 class="h4"><em>Healthcare Excellence Since 1947</em></h1>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end"  id="navbarSupportedContent">
		  <ul class="navbar-nav" >
			<li class="nav-item">
			  <a class="nav-link h5 active" aria-current="page" href="#">Home</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link h5" href="#">Link 1</a>
			</li>			
		  </ul>		  
		</div>
	  </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
