.banner {
    background-color: #7c606b;
}

.banner a {
    color: #fff;
    text-decoration:none;
}

.navbar {
    background: #9bafb2;
}

.navbar-logo img{
    position:absolute;
    top:5px;
    width:100px;
}

.navbar-brand{
    font-family:'Old Standard TT', serif;
    margin-left:105px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item .dropdown-menu .dropdown-item {
    color: #555;
}
.nav-item .dropdown-menu .dropdown-item:hover {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: rgba(255,255,255,.9);
    border: none;
}


@media(min-width:992px){
    .navbar-collapse {
        height:75px;
        margin-top:-10px;
    }

    .navbar-collapse .navbar-nav{
        height:100%;
    }

    .navbar-collapse .navbar-nav .nav-item a{
        align-items: flex-end;
    }
}
