<div class="row">
    <div class="col-12">
        <div>@Zone1</div>
    </div>
    <div class="col-12">
        <div>@Zone2</div>
    </div>

</div>

@code {
    public string Zone1 { get; set; } = "Zone 1";
    public string Zone2 { get; set; } = "Zone 2";
}
