@using Hennis_Models.Dto
<div class="row">
    @*Feature Zone*@
    @foreach (var content in Page.HtmlContents.Where(x => x.LayoutZoneName.ToLower() == "feature").ToList())
    {
        <div class="col-12">
            <div>@((MarkupString)@content.Content)</div>
        </div>
    }
    @*End Feature Zone*@

    <div class="row d-flex">
        <div class="col-6">
            @foreach (var content in Page.HtmlContents.Where(x => x.LayoutZoneName.ToLower() == "zonea").ToList())
                {
                    <div class="row">
                        <div>@((MarkupString)@content.Content)</div>
                    </div>
                }
        </div>
        <div class="col-6">
            @foreach (var content in Page.HtmlContents.Where(x => x.LayoutZoneName.ToLower() == "zoneb").ToList())
            {
                <div class="row">
                    <div>@((MarkupString)@content.Content)</div>
                </div>
            }
        </div>
    </div>
  

</div>

@code {
    [Parameter]
    public PageDto Page { get; set; } = new();
}
