@page "/"
@inject IPageRepository _pageRepository
@using Hennis_Models.Dto

@if (IsLoading)
{
    <div class="text-center">
        <img src="/images/loading.gif" />
    </div>
}
else
{
    <PageTitle>Index</PageTitle>


    @if (Page.LayoutId == 1)
    {
        <Hennis_Public.Shared.Layouts._FullWidth Page="Page"></Hennis_Public.Shared.Layouts._FullWidth>
    }
    else
    {
        <Hennis_Public.Shared.Layouts._TwoColumn Page="Page"></Hennis_Public.Shared.Layouts._TwoColumn>
    }
}

@code {
    public int LayoutToUse { get; set; } = 1;

    public PageDto Page { get; set; } = new();

    public bool IsLoading { get; set; } = true;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            LoadPageContent();
        }
    }

    private async Task LoadPageContent()
    {
        IsLoading = true;
        StateHasChanged();
        Page = await _pageRepository.Get(2);
        IsLoading = false;
        StateHasChanged();
    }
}

